@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-size: 1rem;
    font-weight: 400;
}

:root{
    --principal:#673AB7;
    --complemento:#FFC107;
    --blanco:#fafafafe;
    --negro: #030303;
    --dark-main:#21083f;
    --shadow-dark-main:rgba(33, 8, 63, 0.4);
    --dark-complementary: #ffa000;
}

html{
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: var(--dark-main);
    display: flex;
    flex-direction: column;
    align-items: center;

}
body {
    width: 100%;
    max-width: 1280px;
    background-color: var(--blanco);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 6;
    transform: translateX(-100%);
    background-color: var(--shadow-dark-main);
    transition: all 320ms ease-in-out;
}


h1,h2,h3,h4,h5,h6{
 font-family: "Dosis", serif;
 font-size: 1.25rem;
 text-transform: uppercase;
 font-weight: 800;
}

a{
    text-decoration: none;
    color: inherit;
}

img,svg{
    width: 100%;
    height: 100%;
}

label,button{
    cursor: pointer;
}